.Header {
  position: relative;
  margin-top 0;
  z-index 50;
  left 0;
  width 100%;
  display flex;
  flex-direction row;
  color: #ffffff;

  &__logo-img {
    width 250px;
    height 187.5px;
    position relative;
    padding-left 1rem;
  }

  &__links {
    display flex;
    position: relative;
    align-self center;
    left 62%;
  }

  &__link {
    text-align center;
    margin-right 4rem;
    font-size 1.3rem;
    cursor: pointer;

    &:hover {
      color $orange_color;
    }
  }
}