.Header-content {
  display flex;
  color white;
  width 100%;
  position relative;
  min-width 980px;


  &__label {
    font-size 5rem;
    font-family Phantasm;
  }

  &__central {
    position: relative;
    margin-left calc((100% - 677.55px)/2);
  }

  &__description {
    text-align center;
    margin-top 2rem;
    font-size 1.2rem;
  }

  &__vk {
    text-align center;
    margin-top 1.3rem;
    cursor pointer;

    &:hover {
      color $orange_color;
    }
  }
}