.Header-content {
  display flex;
  justify-content center;
  color white;
  padding-top 6rem;

  &__label {
    font-size 5rem;
    font-family Phantasm;
  }

  &__description {
    text-align center;
    margin-top 2rem;
    font-size 1.2rem;
  }

  &__vk {
    text-align center;
    margin-top 1.3rem;
    cursor pointer;

    &:hover {
      color $orange_color;
    }
  }
}