.Custom-btn {
  background-color $orange_color;
  color white;
  cursor pointer !important;
  border 1px solid $orange_color;
  outline none !important;
  font-size 1.1rem;
  transition color 0.5s ease 0s;

  &:hover {
    background-color $violet_color;
    color $orange_color;
  }
}