$orange_color = #f6513d;

@require "component/Header.styl";
@require "component/Header-content.styl";
@require "component/Main-page.styl";
@require "component/About.styl";


body {
  background-color rgb(21, 24, 47);
  height 100%;
  width 100%;
  background-size auto;
  background-position center center;
  background-repeat repeat;
  background-image url("../header-back.webp");
  font-family 'Courier New';
  position: fixed;
  padding 0;
  margin 0;
  overflow-y auto;
}